@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  margin: 0;
  margin-bottom: 5px;  
  padding: 0;
  font-family: "DM sans";
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.scroll {
  position: absolute;
  top: 5px;  
  left: 50%;
  right: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: transparent;
}

.text-scroll {
  opacity: 0%;
  color: black;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  top: 0px;
  background-color: #d3573c;
  border-radius: 10px;  
  white-space: nowrap;
}

.header {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 0em;
  white-space: nowrap;
}

.logo {  
  font-size: 45px;
  font-weight: bold;
  color: #901c1c;
  margin-left: 1em; 
}

.menutag {  
  order: 2;
}

.tagMenu {  
  display: flex;
  justify-content: center;  
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: 2em;
  margin-right: 2em;
}

.titre {  
  color: #901c1c;
  font-size: 25px;
  margin-right: 2em;
  white-space: nowrap;
  order: 3;
}

.portrait {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  color: #d3573c;
  font-size: 35px;
  font-weight: normal;
  White-space: nowrap;
}

.city {
  color: #901c1c;
  font-size: 14px;  
  font-weight: bold;
}

.tagline {
  font-size: 10px;    
  font-weight: bold;
}

.price {
  color: #525252;
  font-size: 10px;
}

.tags {  
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tagli {
  display: flex;
  justify-content: center;  
  border: solid 1px #525252;
  border-radius: 35px;
  margin: 2px;
}

.taglien {  
  margin: 0px;
  color: #901c1c;
  font-weight: bold;
  font-size: 12px;  
  padding-left: 10px;
  padding-right: 10px;  
}
#photographe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #fafafa;
  padding: 2em;
  margin: 2em;
}

.portraitphotographe {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

#listePhotographes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.personnageVignette { 
  text-align: center;
  margin: 4em;
  flex: 1 0;
}

.namephotographe {
  font-size: 60px;
  color: #d3573c;
  font-weight: normal;
}

.cityphotographe {
  color: #901c1c;
  font-size: 24px;  
  font-weight: bold;
}

.taglinephotographe {
  font-size: 18px;
}

.tagsphotographe {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

#mediasphotographe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.mediasVignette {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  flex: 1 0;
  color: #901c1c;
  font-size: 20px;
}

#titremedia {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 350px;
}

.media {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;  
  text-align: center;
}

.likes {
  font-size: 20px;
}

.fa-heart {
  padding: 5px;
}

@media (max-width: 576px) { 
  .personnageVignette {     
    margin: 0em;
    margin-top: 4em;
  }

.header {
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 50%;
}

  .menutag { 
    display: flex; 
    order: 3;
  }

  .titre {
    font-size: 15px;;
  }

  .logo {
    font-size: 35px;
    margin: 0.5em;
  }

  .tagMenu {  
    display: flex;
    justify-content: center;  
    list-style-type: none;
    flex-wrap: wrap;
    margin-top: 1.6em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .titre {
    order: 2;
  }

  #titremedia {
    width: 335px;
  }

  .media {
    width: 335px;
    height: 190px;
  }

   .mediasVignette {
    display: flex;
    justify-content: center;
    margin: unset;
  }

  #photographe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background: transparent;
    width: 335px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  #listePhotographes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .personnageVignette { 
    text-align: center;
  }
  
  .namephotographe {
    font-size: 36px;
    color: #d3573c;
    font-weight: normal;
  }
  
  .cityphotographe {
    color: #901c1c;
    font-size: 13px;
    font-weight: normal;
  }
  
  .taglinephotographe {
    font-size: 13px;
    color: #525252;
  }
  
  .tagsphotographe {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;    
    flex-wrap: wrap;
  }

  .portraitphotographe {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
}

@keyframes affichescroll {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes cachescroll {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}