@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "DM sans";
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.scroll {
  position: absolute;
  top: 5px;  
  left: 50%;
  right: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: transparent;
}

.text-scroll {
  opacity: 0%;
  color: black;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  top: 0px;
  background-color: #d3573c;
  border-radius: 10px;  
  white-space: nowrap;
}

.header {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 0em;
  white-space: nowrap;
}

.logo {  
  font-size: 45px;
  font-weight: bold;
  color: #901c1c;
  margin-left: 1em; 
}

.menutag {  
  order: 2;
}

.tagMenu {  
  display: flex;
  justify-content: center;  
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: 2em;
  margin-right: 2em;
}

.titre {  
  color: #901c1c;
  font-size: 25px;
  margin-right: 2em;
  white-space: nowrap;
  order: 3;
}

.portrait {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  color: #d3573c;
  font-size: 35px;
  font-weight: normal;
  White-space: nowrap;
}

.city {
  color: #901c1c;
  font-size: 14px;  
  font-weight: bold;
}

.tagline {
  font-size: 10px;    
  font-weight: bold;
}

.price {
  color: #525252;
  font-size: 10px;
}

.tags {  
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tagli {
  display: flex;
  justify-content: center;  
  border: solid 1px #525252;
  border-radius: 35px;
  margin: 2px;
}

.taglien {  
  margin: 0px;
  color: #901c1c;
  font-weight: bold;
  font-size: 12px;  
  padding-left: 10px;
  padding-right: 10px;  
}
#photographe {
  display: none;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #fafafa;
  padding: 2em;
  margin: 2em;
}

.portraitphotographe {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  image-rendering: crisp-edges;
}

#listePhotographes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.personnageVignette { 
  text-align: center;
  margin: 4em;
  flex: 1 0;
}

.namephotographe {
  font-size: 60px;
  color: #d3573c;
  font-weight: normal;
}

.cityphotographe {
  color: #901c1c;
  font-size: 24px;  
  font-weight: bold;
}

.taglinephotographe {
  font-size: 18px;
}

.tagsphotographe {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

#tri {
  display: flex;
  align-content: flex-start;
  margin: 0em;
}

.trimedias {
  padding-left: 2em;
  padding-right: 2em;
  font-weight: bold;
}

.selectTri  {
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
  color: white;
  background: #901c1c;
  padding: 1em; 
  white-space: nowrap;
}

.selectopt {
  cursor: pointer;
  color: white;
  background: #901c1c;
  font-size: 1.2em;;
  white-space: nowrap;
}

#mediasphotographe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.mediasVignette {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  flex: 1 0;
  color: #901c1c;
  font-size: 20px;
}

#titremedia {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 350px;
}

.media {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;  
  text-align: center;
}

.likes {
  flex: auto;
  text-align: right;
  font-size: 20px;
}

.fa-heart {
  cursor: pointer;
  padding: 5px;
}

.contactbox{
  flex: auto;
  padding-left: 1em;
  padding-top: 1.8em;
}

.contact {
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
  color: white;
  background: #901c1c;
  padding: 1em; 
  white-space: nowrap;
}

.contact:hover {
  color: black;
  background: #d3573c;
}

.modalebox {
  display: none;
  position: fixed;
  z-index: 1;
  left: auto;
  right: auto;
  top: 0;
  height: 200%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255,255,255,0.9);
}

.modalecontent {
  margin: 2% auto;
  width: 100%;
  max-width: 500px;
  animation-name: affichescroll;
  animation-duration: 0.8s;
  background: #d3573c;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
  box-shadow: -20px 20px 20px 0px rgba(0,0,0,0.1);
}

.modaletitre {
  width: 60%;  
  padding-left: 0.7em;
  color: black;
  font-weight: normal;
}

.modalebody {
  padding: 15px 1.5em;
  margin: 15px auto;
}

.modaleclose {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.modaleclose:before,
.modaleclose:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.modaleclose:before {
  transform: rotate(45deg);
}
.modaleclose:after {
  transform: rotate(-45deg);
}

.modalelabel {
  width: 100%;
  font-size: 20px;
  color: black;
}

.modaleinput {
  width: 100%;
  border-radius: 5px;
  height: 35px;
  box-sizing: border-box;
  border-color: transparent;
}

.modaletextarea {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  border-color: transparent;
}

.modalesubmit {
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
  color: white;
  background: #901c1c;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  white-space: nowrap;
  border-color: transparent;
}

.carouselbox {
  display: none;
  position: fixed;
  z-index: 1;
  left: auto;
  right: auto;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
}

.carouselcontent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  animation-name: affichescroll;
  animation-duration: 0.8s;
  background: white;
  border-radius: 5px;
  position: relative;
  color: #fff;
  padding-top: 10px;
  box-shadow: -20px 20px 20px 0px rgba(0,0,0,0.1);
}

.left, .right {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
  font-size: 50px;
  color: #901c1c;
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}

.carouselclose {
  position: absolute;
  right: -10px;
  top: 0px;
  width: 50px;
  height: 50px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.carouselclose:before,
.carouselclose:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 5px;
  background-color: #901c1c;
}
.carouselclose:before {
  transform: rotate(45deg);
}
.carouselclose:after {
  transform: rotate(-45deg);
}

.vignetteContent > img {  
  max-width: 90vw;
  max-height: 90vh;
}

.vignetteContent > video {  
  max-width: 90vw;
  max-height: 90vh;
}

.nommediaC {
  margin-bottom: 0.5em;
  top: -20px;
  color: #901c1c;
}

.likesbox{
  position: absolute;
  bottom: 0px;    
  right: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-radius: 5px 5px 0px 0px;
  background: #d3573c;
  padding: 0.5em;
  white-space: nowrap;
}

@media (max-width: 576px) { 
  .personnageVignette {     
    margin: 0em;
    margin-top: 4em;
  }

  .header {
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1 50%;
  }

  .menutag { 
    display: flex; 
    order: 3;
  }

  .titre {
    font-size: 15px;;
  }

  .logo {
    font-size: 35px;
    margin: 0.5em;
  }

  .tagMenu {  
    display: flex;
    justify-content: center;  
    list-style-type: none;
    flex-wrap: wrap;
    margin-top: 1.6em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .titre {
    order: 2;
  }

  #titremedia {
    width: 335px;
  }

  .media {
    width: 335px;
    height: 190px;
  }

   .mediasVignette {
    display: flex;
    justify-content: center;
    margin: unset;
  }

  #photographe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background: transparent;
    width: 335px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #tri {
    display: none;
  }

  #listePhotographes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .personnageVignette { 
    text-align: center;
  }
  
  .namephotographe {
    font-size: 36px;
    color: #d3573c;
    font-weight: normal;
  }
  
  .cityphotographe {
    color: #901c1c;
    font-size: 13px;
    font-weight: normal;
  }
  
  .taglinephotographe {
    font-size: 13px;
    color: #525252;
  }
  
  .tagsphotographe {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;    
    flex-wrap: wrap;
  }

  .portraitphotographe {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  .contactbox{
    position: absolute;
    bottom: 10px;  
    left: 50%;
    right: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    flex: auto;
    padding: unset;
  }
  .modalecontentsubmit {
    display: flex;
    justify-content: center;
  }
  .left, .right {
    font-size: 30px;
    width: 30px;
  }
  .vignetteContent > img {
    max-width: 80vw;
    max-height: 80vh;
  }
  
  .vignetteContent > video {
    max-width: 80vw;
    max-height: 80vh;
  }
  .carouselclose {    
    right: -20px;
  }
  .likesbox{
    display: none;
  }
}

@keyframes affichescroll {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes cachescroll {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}